{% extends 'index.html' %}
{% block suresh %}
    {% load static %}
    {% if request.session.contact %}
    <h1>Welcome to Profie Page</h1>
    <h3>Mr/Miss:{{ request.session.name }}</h3>

        {% if status %}

            <table align="center" border="2">
            <tr><th colspan="2">Profile Details</th></tr>
            <tr>
                <th>Profile No</th><th><input type="number" value="{{ data.pno }}" readonly></th>
            </tr>
            <tr>
                <th>Person Name</th><th><input type="text" value="{{ data.person.name }}" readonly></th>
            </tr>
                <tr>
                <th>Contact No</th><th><input type="number" value="{{ data.person.contact }}" readonly></th>
            </tr>
            <tr>
                <th>Education</th><th><input type="text" value="{{ data.education }}" readonly></th>
            </tr>
            <tr>
                <th>Industry Type</th><th><input type="text" value="{{ data.itype }}" readonly></th>
            </tr>
            <tr>
                <th>Phote</th><th><a href="{{ data.photo.url }}"> <img src="{{ data.photo.url  }}" width="80" height="80" ></a></th>
            </tr>
            <tr>
                <th>Resume</th><th><a href="{{ data.resume.url }}"> <img src="{{ data.resume.url }}"></a></th>
            </tr>
            <tr>
                <form action="{% url 'dpc' %}" method="post">
                    {% csrf_token %}
                    <th><input type="hidden" value="{{ data.pno }}" name="t1"></th>

                    <th><button type="submit">Delete Profile</button> </th></form>
            </tr>
            </table>
            {% else %}
            <form action="{% url 'update_profile' %}">
                <h1><button type="submit" class="btn bg-warning " style="color: orangered;background: yellow;font-size: 30px;width: 400px;height: 80px;text-align: center"> click Toupdate profile</button> </h1></form>
            {% endif %}

    {% else %}
     <h1>please do login</h1>
    <h4>whithout login you cannot access this page</h4>

    {% endif %}


{% endblock %}