{% extends 'index.html' %}
{% block suresh %}
    {% if request.session.contact %}
    <h1>you are already a member of this application</h1>
    {% else %}
    <form action="{% url 'savereg' %}" method="post">
    {% csrf_token %}

    <table align="center" border="0">
    <tr>
        <th colspan="2" style="color: black;text-align: center;background: orangered;font-size: 20px">Registration</th>
    <tr>
            <th>{{ form.name.label }}</th>
            <th>{{ form.name }}</th>

        </tr>

         <tr>
            <th>{{ form.contact.label }}</th>
            <th>{{ form.contact }}</th>

        </tr>

         <tr>
            <th>{{ form.email.label }}</th>
            <th>{{ form.email }}</th>

        </tr>

         <tr>
            <th>{{ form.password.label }}</th>
            <th>{{ form.password }}</th>
        </tr>
        <tr>

            <th><input type="hidden" name="otp" value="0" required="" id="id_otp"></th>
        </tr>
        <tr>

        <th style="text-align: center" colspan="2"><button type="submit">Register</button> </th>
    </tr>
    </table></form>
    {% endif %}
{% endblock %}